[submodule "Mac Framework/Sample Projects/Guess The Intro/Guess The Intro/CoCA"]
	path = Mac Framework/Sample Projects/Guess The Intro/Guess The Intro/CoCA
	url = git://github.com/iKenndac/CoCA.git
[submodule "Mac Framework/Sample Projects/SimplePlayer/SimplePlayer/CoCA"]
	path = Mac Framework/Sample Projects/SimplePlayer/SimplePlayer/CoCA
	url = git://github.com/iKenndac/CoCA.git
